.container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.table {
  border-collapse: collapse;
  margin-bottom: 40px;
}
.table td,
.table th {
  border: 1px solid;
  text-align: center;
}
.search {
  margin-bottom: 60px;
}
.inputSearch {
  margin-bottom: 20px;
}
.addForm {
  display: flex;
}
.addInput {
  width: 50%;
  margin: 20px 0;
}
.newButton {
  background: #6654fd;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 4px;
  align-self: center;
  justify-self: self-end;
  margin-bottom: 60px;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #6654fd;
  outline: none;
  border: 1px solid #cecece;
}
.link {
  color: #6654fd;
  margin: 0 10px;
}
